.container {
    margin-top: 5em;
}

#features {
    text-decoration: underline;
    font-weight: bold;
}

#price {
    padding-top: 3em;
    padding-bottom: 2em;
}

#cart-button {
    margin-top: 2em;
}

.dot {
    height: 25px;
    width: 25px;    
    border-radius: 50%;
    display: inline-block;
}
