@media (max-width: 950px) { 	
	
	.card-deck {        
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {        
	    display: block;
	    margin-bottom: .75rem;
	}
  
  .card-deck .card:not(:first-child) {
        margin-left: 0px;    
    }

   #search-box {
        z-index: 1;
        position: fixed;        
        top: 5em;
        left: 2.5em;
        width: 20em;
    }
    
    #filtersubmit {
        display: none;
    }
}

.card {
    margin-top: 5em;
}

#filtersubmit {
    position: relative;  
    float: right;        
    z-index: 1;
    left: 18.5em;
    top: 0.7em;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

#search-box {
    float: right;
    width: 20em;
}

