<div class="container">
    <table id="phone-cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody *ngFor="let phone of phones">
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="{{phone.img}}" alt="{{phone.title}}" id="phone-thumb" /></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{phone.title}}</h4>
                            <p>Capacity: {{phone.capacity}}, Condition: {{phone.condition}}, Color: {{phone.color}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">${{phone.price}}</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" id="quantity" [(ngModel)]="phone.quantity"
                        min="1" max="99">
                </td>
                <td data-th="Subtotal" class="text-center">${{phone.price * phone.quantity}}</td>
                <td class="actions" data-th="">
                    <button class="btn btn-danger btn-sm" (click)="removeFromCart(phone)"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="plan-cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Plan</th>
                <th style="width:10%">Price</th>
                <th style="width:30%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody *ngFor="let plan of plans">
            <tr>
                <td data-th="Plan">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{plan.title}}</h4>
                            <p>Minutes: {{plan.minutes}} Data Allowance: {{plan.data_p}} GB</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">${{plan.price}}</td>
                <td data-th="Subtotal" class="text-center">${{plan.price}}</td>
                <td class="actions" data-th="">
                    <button class="btn btn-danger btn-sm" (click)="removePlanFromCart(plan)"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
        <tr>
            <td class="hidden-xs text-center"><strong>Item Total ${{ getCartTotal() }}</strong></td>
        </tr>
        <tr>
            <td class="hidden-xs text-center"><strong>Plan Total ${{ getPlanTotal() }} /mo</strong></td>
        </tr>
        <tfoot>
            <tr>
                <td> <button class="btn btn-danger" (click)="empty();" type="button">Empty shopping
                        cart</button></td>
                <td colspan="2" class="hidden-xs"></td>
                <td><button type="button" class="btn btn-success">Proceed To Checkout</button></td>
            </tr>
        </tfoot>
    </table>